.nav-box {
    opacity: 0.9;
    backdrop-filter: blur(2px) contrast(100%);
    box-shadow: 0 2px 0 #F0F2F6;
    position: fixed;
    width: 100%;
    background-color: #FAFAFD;
    height: 60px;
    z-index: 999;
    max-width: 125%;
}

.nav-logo {
    display: inline;
    position: absolute;
    height: 60px;
    line-height: 58px;
    left: -5px;
}

.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    max-width: 1400px;
    width: 90%;
}

.nav-logo img {
    vertical-align: middle;
    display: inline-block;
    width: 125px;
    border-style: none;
}

.nav-right {
    display: inline;
    position: absolute;
    height: 60px;
    line-height: 58px;
    left: 50%;
    overflow: hidden;
}

.nav-right>ul {
    margin: 0;
}

.nav-right li {
    height: 100%;
    margin: 0 21px;
    float: left;
    justify-content: center;
    display: inline;
}

.nav-right li a {
    display: block;
    color: #262626;
    font-size: 14px;
}


.nav-right a:link {
    color: #000000;
}

.nav-right a:visited {
    color: black;
}

.nav-right a:hover {
    color: #c21d0e;
    border-bottom: 2px solid orangered;
}

.nav-right a:active {
    color: #0000FF;
}

.top {
    max-width: 100%;
    margin: auto;
    width: 1244px;
}

.container {
    position: relative;
    left: 40%;
    transform: translate(-50%, 0);
    text-align: center;
    float: left;
    margin-left: 10%;
    margin-top: 60px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.header-H1 {
    background-image: url(../picture/hero-bottom-bg.png);
    background-repeat: no-repeat;
    margin-top: 75px;
}

.header-H1>:nth-child(2) {
    color: black;
    margin: 0 0 12px;
    padding: 11px 0 0;
    font: 30px -apple-system, BlinkMacSystemFont;
}

.header-H1>:nth-child(3) {
    color: #181819B3;
    font: 14px -apple-system, BlinkMacSystemFont;
    margin: 0 0 24px;
    padding: 11px 0 0;
}

.header-H1>.header-title {
    color: #000000;
    font: 68px -apple-system, BlinkMacSystemFont;
    margin: 0 0 16px;
    padding: 0 0 11px;
    font-family: sans-serif;
    font-weight: 600;
}

.button-area {
    padding: 0 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.button-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 17px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(45deg, #ff387e 6.54%, #ff386d 21.35%, #f44a53 64.03%, #f35e3a 92.78%);
}

.use-web {
    background-color: white;
    margin-left: 30px;
    border-radius: 5px;
    border: #F44A53 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #F5646C;
    cursor: pointer;
}

.use-web>p {
    float: left;
    margin: 11px 0;
    width: 130px;
}

.button-web-beta {
    border-color: #f44a53 #f44a53 transparent transparent;
    border-top-right-radius: 5px;
    border-style: solid;
    border-width: 16px;
    margin-left: -30px;
    margin-bottom: 11.5px;
}

.button-web-beta-text {
    transform: rotate(45deg);
    float: right;
    color: white;
    font: 12px -apple-system;
    margin-bottom: 20px;
    margin-left: -25px;
}

.apihub-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    background: #f8f8fa;
    padding: 120px 0 96px;
    flex-wrap: wrap;
}

.apihub-title {
    text-align: center;
    margin-bottom: 50px;
    font-family: sans-serif;
}

.apihub-title p {
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: rgba(24, 24, 25, .42);
    margin-bottom: 0;
}

.apihub-title h2 {
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    padding-bottom: 0;
}

.apihub-card-wrapper {
    display: flex;
    flex-grow: 0.3;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.visible-title span:nth-child(2) {
    float: left;
    margin-top: 15px;
}

.visible-title {
    display: inline-block;
    color: #181819;
    font: 18px -apple-system;
}

.visible-title span {
    float: left;
}

.visible-title img {
    width: 56px;
    height: 56px;
    line-height: 56px;
    object-fit: cover;
    font-size: 18px;
    margin-right: 16px;
    outline: 1px solid #f8f8f6;
}

.visible-description:hover {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.visible-description {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    height: 45px;
    color: rgba(24, 24, 25, .42);
    margin-bottom: 26px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.visible div:nth-child(3) {
    color: rgba(24, 24, 25, .42);
    font-size: 16px;
}

.api-card {
    height: 150px;
    width: 310px;
    background: #ffffff;
    padding: 24px;
    border-radius: 8px;
    margin-right: 24px;
    margin-bottom: 24px;
    position: relative;
}

.invisible {
    transition: 0s;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 65px;
    margin: -193px 0 30px -25px;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    display: flex;
    flex-grow: 0.5;
    float: left;
    text-align: center;
    cursor: pointer;
    color: #666666;
    font-size: 14px;
    padding: 75px 0;
}

.invisible span {
    font-size: 30px;
}

.invisible-left {
    padding: 75px 0;
    margin: -75px 0;
    width: 50%;
    border-right: #F7F7F7 solid 1px;
}

.invisible-right {
    padding: 75px 0;
    margin: -75px 0;
    width: 50%;
    border-left: #F7F7F7 solid 1px;
}

.browse-more {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.browse-more div div {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #181819;
    margin-right: 14px;
}

.visible div:nth-child(3) span {
    margin-left: 10px;
}

.side-list img {
    width: 125px;
    height: 100px;
}

.side-list {
    overflow: hidden;
    clear: both;
}

.side-list ul {
    position: relative;
    overflow: hidden;
    display: flex;
}

.side-list>ul>li {
    margin: 7px;
}

.main-object {
    display: flex;
    float: left;
    width: 100%;
    margin-bottom: 75px;
}

.object-box {
    text-align: center;
    width: 20%;
}

.object-box img {
    height: 50px;
    width: 50px;
}

.main-object div {
    text-align: center;
    flex-grow: 0.2;
    cursor: pointer;
    display: flex;
    margin: 0 5px;
}

.main-object span:nth-child(2) {
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 5px;
    font: 18px -apple-system;
    font-size: 25px;
}

.under {
    max-width: 100%;
    margin: auto;
    width: 1244px;
}

.who-use {
    text-align: center;
}

.who-use img {
    margin-top: 40px;
    width: 100%;
}

.price {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
}

.price-box {
    display: flex;
    width: 100%;
}

.price-box1,
.price-box2 {
    width: 400px;
    background: linear-gradient(90deg, rgba(253, 106, 79, .02), rgba(252, 158, 35, .02));
    box-shadow: 0 8px 16px rgb(253 122 67 / 8%);
    margin: 0 45px;
    border-radius: 16px;
}

.price-box1 div:nth-child(1) {
    background: linear-gradient(90deg, #fd6a4f, #fc9e23);
    height: 124px;
    margin-top: -22px;
    border-radius: 16px 16px 0 0;
}

.price-box2 div:nth-child(1) {
    background: linear-gradient(90deg, #e0eafc, #cfdef3);
    width: 100%;
    height: 124px;
    margin-top: -22px;
    border-radius: 16px 16px 0 0;
}

.price-box1 div:nth-child(1) span {
    border: none;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.price-box1 div:nth-child(1) h1 {
    border: none;
    color: #fff;
    padding-top: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.price h2 {
    font: 36px -apple-system;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 20px;
}

.price-box1 li,
.price-box2 li {
    text-align: left;
    margin: 15px 0 15px 34%;
    color: #181819B3;
    font-size: 17px;
}

.price-box1 input:hover {
    top: 20px;
}

.price-box1 input {
    background-image: linear-gradient(90deg, #fd6a4f, #fc9e23);
    transform: translateY(0);
    transition: transform .2s;
    padding: 0 24px;
    border-radius: 1000px;
    width: 128px;
    height: 40px;
    color: white;
    margin-bottom: 20px;
    border: none;
}

.price-box2 input {
    background-image: linear-gradient(90deg, #e0eafc, #cfdef3);
    transform: translateY(0);
    transition: transform .2s;
    padding: 0 24px;
    border-radius: 1000px;
    width: 128px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
}

.price-box2 h1 {
    border: none;
    color: #181819B3;
    padding-top: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.wavy {
    background-image: url(../img/picture-botton/botton1.png);
    position: relative;
    background-size: cover;
    height: 120px;
}

.block1 img {

    width: 110px;
    height: auto;
    margin-bottom: 20px;
}

.block1 {
    display: block;
    width: 100px;
    transform: translate(0, -50px);
}

.footer {
    background: #181819;
    display: block;
    padding: 0 0 40px 0;
}

.block1 p {
    font: 16px -apple-system;
}

.block1,
.block2 {
    padding: 0;
    line-height: 23px;
    font-size: 16px;
    margin: 0;
    flex-grow: 0.25;
}

.block2 {
    transform: translate(120px);
}

.block2 a {
    margin-top: 20px;
}

.footer div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 44px;
    height: 100%;
    max-width: 1244px;
    position: relative;
    margin: auto;
    will-change: transform;
    overflow: hidden;
}

.block1 a {
    color: rgb(199, 189, 189);
    display: block;
}

.block2 a {
    color: rgb(199, 189, 189);
    display: block;
}

.footer p {
    color: rgb(199, 189, 189);
}

.footer h2 {
    color: rgb(199, 189, 189);
}

.divider {
    width: 100%;
    border: #626263 solid 1px;
}

.friend-link {
    width: 100%;
    color: #999999;
    font-size: 16px;
    margin-top: 64px;
    margin-bottom: 24px;
    text-align: center;
    line-height: 20px;
}

.friend-link a {
    margin-left: 16px;
    font-style: normal;
    color: #999999;
}

.friend-link {
    width: 100%;
    color: #999999;
    font-size: 16px;
    margin-top: 64px;
    margin-bottom: 24px;
    text-align: center;
    line-height: 20px;
}

.detail {
    display: flex;
    flex-wrap: wrap;
}

.header-title2 {
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 600;
}

.detail-box {
    padding: 40px 20px 32px;
    vertical-align: baseline;
    background: #ffffff;
    box-shadow: 0 8px 32px rgb(0 0 0 / 4%);
    border-radius: 8px;
    margin: 35px 50px;
    width: 470px;
}

.detail-box h3 {

    transform: translate(25px, -28px);
    color: black;
    font: 20.8px -apple-system;
    margin-top: 20px;
}

.detail-box span {
    margin-left: 25px;
    float: left;
    width: 40px;
    height: 40px;
    margin-top: -11px;
}

.detail-box li {
    margin-left: 30px;
    color: #12141C80;
    font: 14px -apple-system;
}

.learn-more {
    display: flex;
    justify-content: center;
    margin: 60px auto;
    position: relative;
}

.learn-more a {
    padding: 8px;
    color: rgba(24, 24, 25, 0.7);
    border: 1px solid #e6e7e9;
    border-radius: 70px;
    font-size: 20px;
    width: 240px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
}

.learn-more a:link {
    color: #000000;
}

.learn-more a:visited {
    color: black;
}

.learn-more a:hover {
    color: #c21d0e;
    border-color: #c21d0e;
}

.learn-more a:active {
    color: #0000FF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transform: translate(0, 118px);
}

.dropdown-content li {
    color: black;
    font-size: 16px;
}

.button-desktop:hover .dropdown-content {
    display: block;
}

.drop {
    clear: both;
    transform: translate(0, -125px);
    display: flex;
    height: 50px;
}

.object-box-iv {
    color: gray;
    display: none;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-right: auto;
}

.drop:hover .object-box-iv {
    display: block;
}

.object-box-iv-cl {
    margin-left: 10px;
    display: inline;
}

.object-box-iv-cl span:nth-child(2) {
    margin-left: -10px;
}

.object-box-iv-cl:hover {
    color: orangered;
}

.dropdown-content li:hover {
    background-color: #626263;
}